@use "/src/assets/global.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  background: center / cover no-repeat url("/public/img/contacts/bg.png");
  //  clip-path: path('M50 10 L150 10 L160 2 L640 2 L650 10 L750 10 L790 50 L790 450 L750 490 L50 490 L10 450 L10 50 L50 10 Z');
  //  clip-path: 
  //    polygon(5.25% 2%, 18.25% 2%, 19.75% 0%, 81% 0%, 82.5% 2%, 95.05% 2%, 100% 10%, 100% 91%, 95.0% 99%, 5.25% 99%, 0% 90%, 0% 10%);

  align-items: center;
  width: 100%;
  height: 100%;
  //   position: absolute;
  // top: 10%;
  // left: 10.5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  .title {
    font-size: 2vw;
    font-weight: 600;
    color: #4df4fc;
    text-align: center;
    margin: 3vw 0 1.5vw 0;
    font-family: $font-glitch;
    letter-spacing: 3px;
    position: fixed;
    top: 2rem;
    z-index: 1;
  }

  .cards {
    margin-top: 3vw;
    display: grid;
    grid-template-columns: repeat(10, 5.5vw);
    grid-template-rows: repeat(2, calc(351 / 244 * 13.5vw));
    gap: 1.5vw;

    .gridBox {
      grid-column: span 2;
    }

    .gridBox2 {
      grid-column: 2 / span 2;
    }
  }

  // animation: expandModal 0.6s ease forwards;
}

// @keyframes expandModal {
//   0% {
//     height: 0;
//   }

//   100% {
//     height: 100%;
//     /* final height relative to parent */
//   }
// }

@media screen and (max-width: 550px) {
  .container {
    .title {
      font-size: 9vw;
      margin: 10vw 0 6vw 0;
    }

    .cards {
      margin-top: 25vw;
      grid-template-columns: repeat(4, 15vw);
      grid-template-rows: repeat(5, calc(351 / 244 * 35vw));
      gap: 5vw;

      .gridBox {
        grid-column: span 2;
      }

      .gridBox2 {
        grid-column: 2 / span 2;
      }
    }
  }
}