
.label {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
}
.landing{
  width: 100vw;
  height:100vh;
position: relative;
  background-image: url("/img/SteelSkiesbg.png");
  background-repeat: repeat;
  background-size: fill; // adjust pattern size
  background-position: center;

  overflow: hidden;
}