@use "../../../assets/global.scss" as *;

.registerButton {
    right: 4%;
    bottom: 2%;
    position: fixed;
    margin-bottom: 1.5rem;
    cursor: pointer;

    @media (max-width: 750px) {
        margin-bottom: 0.5rem;
        right: 0%;
        top: 20px;
        bottom: auto;
    }
    
    .registerIcon {
        width: 16vw;
        // fill: $cyber-yellow;
        transition: scale 0.2s ease;
        // filter: brightness(30);
    }

    .registerText {
        position: absolute;
        color: #5DB7FF;
        text-shadow: 0.3rem 0.3rem #9018cc50;
        font-family: $font-glitch;
        font-size: 1.8rem;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: brightness(2);
        transition: filter 0.2s ease;
    }

    &:hover {
        .registerIcon {
            // filter: brightness(2);
            scale: 1.05;
        }

        .registerText {
            filter: brightness(1);
        }
    }

    @media (max-width: 750px) {
        margin: 0.5rem;

        .registerIcon {
            margin-top:-2.5rem;
            
            width: 18rem;
        }

        .registerText {
            font-size: 1.2rem;
        }
    }
}

.confirmButton {
    right: 0;
    bottom: 0;
    position: fixed;
    margin: 1.5rem;
    z-index: 1000;

    margin-top: 1rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: all 0.3s ease;
    font-family: inherit;

    .confirmButtonContent {
        font-size: 1.5rem;
        font-weight: 700;
        font-size: 1.2rem;
        color: #dddddd;
        z-index: 1;
        position: relative;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 750px) {
        margin: 0.5rem;

        .registerIcon {
            width: 8rem;
        }

        .registerText {
            font-size: 1.2rem;
        }
    }
}