@use "/src/assets/global.scss" as *;

$dark-bg: #000;

.content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding: 4rem 4rem;
  color: $cyber-yellow;

  // @media (max-width: 1300px) {
  //   padding: 4rem calc(2.4rem + 0.3vw);
  // }

  .heading {
    font-family: $font-cyberpunks, "Orbitron", sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2rem;
    color: $cyber-yellow;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 0 0 5px rgba(255, 229, 0, 0.5);
  }

  .instructionList {
    list-style: none;
    padding: 0;
    font-family: $font-blender, "Orbitron", sans-serif;
    font-weight: $weight-blender-bold;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 0.5rem;

    @include content-scroller($cyber-yellow);

    li {
      position: relative;
      padding-left: 1.5rem;
      margin-bottom: 0.8rem;
      line-height: 1.4;
      // font-family: "Rajdhani", sans-serif;
      font-size: calc(1rem + 0.5vw);
      color: $cyber-yellow;

      &::before {
        content: "•";
        position: absolute;
        left: 0;
        color: $cyber-yellow;
        font-weight: bold;
      }
    }

    a {
      color: $cyber-yellow;
      text-decoration: underline;
      font-weight: bold;

      &:hover {
        color: lighten($cyber-yellow, 10%);
      }
    }
  }

  .googleButton {
    margin-top: 2rem;
    // background-color: $cyber-yellow;
    border: none;
    align-self: center;
    // border-radius: 8px;
    // padding: 0.8rem 1rem;
    // width: fit-content;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    .googleButtonContent {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.6rem;
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      color: #ffffffac;
    }

    img {
      width: 24px;
      height: 24px;
    }

    span {
      font-size: 1rem;
    }
  }
}

@media (max-width: 600px) {
  .content {
    .heading {
      font-size: 2.5rem;
    }
  }
}