@use "/src/assets/global.scss" as *;

$dark-bg: #000;

.content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $cyber-yellow;

  .heading {
    font-family: $font-ethnocentric;
    text-align: center;
    font-size: clamp(2rem, 2.75vw, 4.5rem);
    font-weight: 900;
    margin-bottom: 2rem;
    color: $cyber-yellow;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .instructionList {
    list-style: none;
    padding: 0;
    font-family: $font-blender, "Orbitron", sans-serif;
    font-weight: $weight-blender-bold;
    flex: 1;
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 0.5rem;

    @include content-scroller($cyber-yellow);

    li {
      position: relative;
      padding-left: 1.5rem;
      margin-bottom: 0.8rem;
      line-height: 1.4;
      font-size: calc(1rem + 0.5vw);
      color: $cyber-yellow;

      &::before {
        content: "•";
        position: absolute;
        left: 0;
        color: $cyber-yellow;
        font-weight: bold;
      }
    }

    a {
      color: $cyber-yellow;
      text-decoration: underline;
      font-weight: bold;

      &:hover {
        color: lighten($cyber-yellow, 10%);
      }
    }
  }

  .googleButton {
    margin-top: 2rem;
    border: none;
    align-self: center;

    .googleButtonContent {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.6rem;
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      font-weight: 700;
      color: #dddddd;
    }

    img {
      width: 24px;
      height: 24px;
    }

    span {
      font-size: 1rem;
    }
  }
}

@media (max-width: 600px) {
  .content {
    .heading {
      font-size: 2rem;
    }
  }
}

@media (max-width: 440px) {
  .content {
    .heading {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 320px) {
  .content {
    .heading {
      font-size: 1.25rem;
    }
  }
}