.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
    /* Ensure it appears above other content */

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // height: 85%;
        width: 81%;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 0;
        transition: height 0.6s ease, visibility 0.6s ease;

        .modalContent {
            position: relative;
            z-index: 1;
            /* Ensure content is above background */
            width: 98%;
            height: 99%;
            display: flex;
            align-items: center;
            justify-content: center;
            clip-path: polygon(5.25% 2%, 18.25% 2%, 19.75% 0%, 81% 0%, 82.5% 2%, 95.05% 2%, 100% 10%, 100% 91%, 95.0% 99%, 5.25% 99%, 0% 90%, 0% 10%);
            backdrop-filter: blur(6px);
            background-color: #00f0fd0e;
        }

        // background-image: url("/img/landing/border.png");
        // animation: expandModal 0.6s ease forwards; /* forwards keeps final state */
        .backgroundlite {
            position: absolute;
            /* absolute inside modal */
            top: 50%;
            /* center vertically */
            left: 50%;
            /* center horizontally */
            transform: translate(-50%, -50%);
            /* center origin */
            width: 100%;
            height: 100%;
            z-index: 1000;
            /* start squeezed */
            background-image: url("/img/landing/border.png");
            background-size: 100% 100%;
            filter: drop-shadow(0 0 3px #00f2fd);
        }
    }

    &.hiddenModal {
        visibility: hidden;
        transition: background-color 0.3s 0.3s;
        background-color: #00000000;

        .modal {height: 0px;}
    }

    &.showModal {
        visibility: visible;
        transition: background-color 0.3s;
        background-color: #00000080;

        .modal {height: 85%;}
    }
}