.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
z-index: 1000;
    pointer-events: none;
    /* Ensure it appears above other content */

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 85%;
        width: 81%;
        background-size: 100% 100%;

        // background-image: url("/img/landing/border.png");
        // animation: expandModal 0.6s ease forwards; /* forwards keeps final state */
        .backgroundlite {
      position: absolute;       /* absolute inside modal */
      top: 50%;                 /* center vertically */
      left: 50%;                /* center horizontally */
      transform: translate(-50%, -50%); /* center origin */
      width: 81%;
      height: 0;                /* start squeezed */
      background-image: url("/img/landing/border.png");
      background-size: 100% 100%;
      animation: expandModal 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
    }
    }

    @keyframes expandModal {
        0% {
            height: 0;
        }

        100% {
            height: 81%;
            /* final height relative to parent */
        }
    }
}