.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  z-index: 1000;
  pointer-events: none;
  opacity: 0; // GSAP will animate this

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
    width: 81%;
    background-size: 100% 100%;
    opacity: 0; // GSAP will animate this
    cursor: pointer;

    .content {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0; // GSAP will animate this
    }

    .backgroundlite {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 81%;
      height: 0; // GSAP will animate this
      background-image: url("/img/landing/border.png");
      background-size: 100% 100%;
      z-index: 1;
    }
  }
}
