.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Ensure it appears above other content */

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 85%;
        width: 81%;
        // background-color: aqua;
        background-size: 100% 100%;
        background-image: url("/img/landing/modal-frame.png");
    }
}