@use "/src/assets/global.scss" as *;

.container {
  height: 100vh;
  width: 100vw;
  .bgImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .speedometer {
    width: 100%;
    height: 50vh;
    margin-top: 40vh;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50vh, 0% 50vh);

    @for $i from 1 through 7 {
      .dashCircle#{$i} {
        position: absolute;
        --dash: calc(1.2deg - 0.05deg * #{$i});
        --gap: 8deg;
        --thickness: 70%;
        --stop: calc(42.5% - 0.2% * #{$i});

        top: 98%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(14vw + 6.5vw * #{$i});
        aspect-ratio: 1;
        border-radius: 50%;
        clip-path: rect(0% 100% 52% 0%);
        z-index: 5;

        background: repeating-conic-gradient(
          #4df4fc 0deg var(--dash),
          transparent var(--dash) var(--gap)
        );

        mask: radial-gradient(
          circle,
          transparent 0% 39.5%,
          black 39.5% var(--stop),
          transparent var(--stop) 100%
        );
      }
    }

    .radialCircle1 {
      position: absolute;
      top: 98%;
      left: 50%;
      // transform: translate(-50%, -50%);
      width: 43vw;
      aspect-ratio: 1;
      border-radius: 50%;
      clip-path: rect(0% 100% 52% 0%);
      background: radial-gradient(
        circle,
        transparent 50%,
        #b301ffe8 80%,
        #b301ffe8 100%
      );
      z-index: 5;
      animation: spin2 0.8s linear forwards;
      @keyframes spin2 {
        from {
          transform: translate(-50%, -50%) rotate(-180deg);
        }
        to {
          transform: translate(-50%, -50%) rotate(0deg);
        }
      }
    }
    .radialCircle2 {
      position: absolute;
      top: 98%;
      left: 50%;
      width: 43vw;
      aspect-ratio: 1;
      border-radius: 50%;
      clip-path: rect(0% 100% 49% 0%);
      background: radial-gradient(
        circle,
        transparent 50%,
        #0000003a 60%,
        #b301ffd5 80%,
        #b301ff 100%
      );
      transform: translate(-50%, -50%) rotate(0deg);
      opacity: 0.5;
      z-index: 5;
      animation: spin 0.8s linear forwards;
      @keyframes spin {
        from {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        to {
          transform: translate(-50%, -50%) rotate(180deg);
        }
      }
    }
    .bigDashCircle {
      position: absolute;
      --dash: 105deg;
      --gap: 108.35deg;
      --thickness: 69%;
      --stop: 43%;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(180deg);
      width: 48vw;
      aspect-ratio: 1;
      border-radius: 50%;
      // clip-path: polygon(100% 50%, 0% 50%, 80% 100%, 100% 100%);
      box-shadow: 0px -3px 20px 3px #b301ff;
      background: repeating-conic-gradient(
        #b301ff 90deg var(--dash),
        transparent var(--dash) var(--gap)
      );
      // background: repeating-conic-gradient(
      //   #b301ff 90deg var(--dash),
      //   transparent var(--dash) var(--gap)
      // );
      mask: radial-gradient(circle, transparent 0% 68.2%, black 68.2% 100%);
      z-index: 4;
      // animation: spin3 2s linear forwards;
      @keyframes spin3 {
        from {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        to {
          transform: translate(-50%, -50%) rotate(180deg);
        }
      }
    }
    .bigDashCircleBehind {
      position: absolute;
      --dash: 114deg;
      --gap: 117.35deg;
      --thickness: 69%;
      --stop: 43%;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(180deg);
      width: 47.6vw;
      aspect-ratio: 1;
      border-radius: 50%;
      clip-path: rect(50% 100% 100% 0%);
      background: repeating-conic-gradient(
        #4df4fc 99deg var(--dash),
        transparent var(--dash) var(--gap)
      );
      mask: radial-gradient(circle, transparent 0% 69.5%, black 69.5% 100%);
      opacity: 0.2;
      z-index: 5;
    }
    .dottedIMG {
      position: absolute;
      top: 98%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 38.5vw;
      z-index: 5;
    }
    .speedoDashCircle {
      position: absolute;
      top: 98%;
      left: 50%;
      width: 43vw;
      aspect-ratio: 1;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      clip-path: rect(0% 100% 52% 0%);
      background: repeating-conic-gradient(
        #4df4fc 0deg 0.6deg,
        transparent 0.6deg 6deg
      );
      mask: radial-gradient(circle, transparent 0% 68.8%, black 68.8% 100%);
      z-index: 5;
    }
    @for $i from 1 through 3 {
      .speedTick#{$i} {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform-origin: bottom center;
        transform: rotate(calc(-91.875deg + 18.375deg * #{$i}));
        width: 0vw;
        height: 26vw;
        z-index: 5;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%) rotate(-9deg);
          width: 0.3vw;
          height: 5vw;
          background-color: #b300ff;
        }
      }
    }
    @for $i from 4 through 6 {
      .speedTick#{$i} {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform-origin: bottom center;
        transform: rotate(calc(-36.75deg + 18.375deg * #{$i}));
        width: 0vw;
        height: 26vw;
        z-index: 5;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%) rotate(9deg);
          width: 0.3vw;
          height: 5vw;
          background-color: #b300ff;
        }
      }
    }
    --tick-rotate1: 88.5deg;
    --tick-rotate2: 106.075deg;
    --tick-rotate3: 124.7deg;
    --tick-rotate4: 143.325deg;
    --tick-rotate5: 160.95deg;
    --tick-rotate6: 179.575deg;
    --tick-rotate7: 198.2deg;
    --tick-rotate8: 216.825deg;
    --tick-rotate9: 235.45deg;
    --tick-rotate10: 253.075deg;
    @for $i from 1 through 10 {
      .bigDashTicks#{$i} {
        position: absolute;
        --dash: 105deg;
        --gap: 108.35deg;
        --thickness: 69%;
        --stop: 43%;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(var(--tick-rotate#{$i}));
        width: 48vw;
        aspect-ratio: 1;
        border-radius: 50%;
        clip-path: polygon(35% 100%, 51% 100%, 51% 50%, 35% 50%);
        background: repeating-conic-gradient(
          #b301ff 90deg var(--dash),
          transparent var(--dash) var(--gap)
        );
        mask: radial-gradient(circle, transparent 0% 68.2%, black 68.2% 100%);
        z-index: 4;
      }
    }

    --bottom1: 18vw;
    --width1: 84vw;
    --left1: calc(50vw - var(--width1) / 2);
    --taGwidth1: 20vw;
    --bottom2: 10vw;
    --width2: 94vw;
    --left2: calc(50vw - var(--width2) / 2);
    --taGwidth2: 20vw;
    --bottom3: 3vw;
    --width3: 90vw;
    --left3: calc(50vw - var(--width3) / 2);
    --taGwidth3: 13vw;

    @for $j from 1 through 3 {
      .nameTagLeft#{$j} {
        display: flex;
        flex-direction: column;
        height: 3.6vw;
        position: absolute;
        bottom: var(--bottom#{$j});
        left: calc(var(--left#{$j}) + 2.5vw);
        transform: translate(0%, 10%);
        span {
          font-size: 2.4vw;
          font-family: $font-bitsumishi;
          color: #4df4fc;
        }
        img {
          width: var(--taGwidth#{$j});
          height: 2.4vw;
          position: absolute;
          top: 40%;
          left: 6%;
        }
      }
      .nameTagRight#{$j} {
        display: flex;
        flex-direction: column;
        height: 3.6vw;
        position: absolute;
        bottom: var(--bottom#{$j});
        right: calc(var(--left#{$j}) + 2.5vw);
        transform: translate(0%, 10%);
        span {
          font-size: 2.4vw;
          font-family: $font-bitsumishi;
          color: #4df4fc;
        }
        img {
          width: var(--taGwidth#{$j});
          position: absolute;
          height: 2.4vw;
          top: 40%;
          right: 6%;
        }
      }
      .nameTagBG#{$j} {
        position: absolute;
        bottom: var(--bottom#{$j});
        left: var(--left#{$j});
        transform: translate(0%, 0%);
        width: var(--width#{$j});
        height: 3.6vw;
        background-color: #0000004d;
        clip-path: polygon(
          calc(var(--width#{$j}) - 2vw) 0,
          100% 100%,
          0% 100%,
          2vw 0%
        );
        border: 1px solid #33e7ff;
        z-index: 2;
        mask-image: linear-gradient(
          to right,
          #000 0%,
          transparent 35%,
          transparent 65%,
          #000 100%
        );
      }
      .nameTagBorderLeft#{$j} {
        position: absolute;
        bottom: var(--bottom#{$j});
        left: var(--left#{$j});
        transform: translate(0%, 0%);
        width: 2vw;
        height: 3.6vw;
        background-color: #33e7ff;
        border: 1px solid #33e7ff;
        clip-path: polygon(100% 0%, 0.05vw 100%, 0% 100%, 1.95vw 0%);
        z-index: 1;
      }
      .nameTagBorderRight#{$j} {
        position: absolute;
        bottom: var(--bottom#{$j});
        right: var(--left#{$j});
        transform: translate(0%, 0%);
        width: 2vw;
        height: 3.6vw;
        background-color: #33e7ff;
        border: 1px solid #33e7ff;
        clip-path: polygon(0.05vw 0, 100% 100%, 1.95vw 100%, 0% 0%);
        z-index: 1;
      }
    }

    .speedFont {
      position: absolute;
      bottom: -4%;
      left: 50%;
      transform: translate(-50%, 0%);
      font-size: 8vw;
      font-family: $font-dragrace;
      color: #4df4fc;
      z-index: 6;
    }
  }
}
