@use "/src/assets/global.scss" as *;

.card {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1vw;
  display: grid;
  grid-template-rows: 3vw 4vw 1vw 2vw;
  gap: 0.4vw;
  cursor: pointer;

  &:hover {
    .card1 {
      width: 120%;
      height: 120%;
      // opacity: 0;
      // rotate: y -180deg;
      // .dept1{
      //   width: 80%;
      // }
      .name1 {
        transform: translateY(0) scale(1);
      }
      .contact1 {
        transform: translateY(0) scale(1);
      }
      .borderIMG1 {
        width: 13vw;
      }
    }
    .cardInner {
      opacity: 1;
    }
  }
}
// .card {
//   display: grid;
//   grid-template-rows: auto 4vw 1vw 2vw;
//   gap: 0.4vw;
//   align-items: center;
//   justify-content: center;
//   // background: center / contain no-repeat url("/public/img/contacts/cardBG.png");
//   width: 100%;
//   position: relative;
//   padding: 1vw;
//   cursor: pointer;
//   transition: all 0.3s ease;

//   &:hover {
//     transform: rotateY(-180deg);
//     // opacity: 0;
//     .cardInner {
//       transform: rotateY(-180deg);
//       opacity: 1;
//     }
//   }

//   .bgIMG {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     z-index: -1;
//   }

//   .borderIMG {
//     width: 10.5vw;
//     aspect-ratio: 244/351;
//     position: absolute;
//     object-fit: contain;
//     top: 0;
//     left: 0;
//   }

//   .contactIMG {
//     width: 7vw;
//     justify-self: center;
//     object-fit: cover;
//   }

//   .dept {
//     text-align: center;
//     color: #00ffff;
//     font-family: $font-blender;
//     font-size: 1.2vw;
//     z-index: 1000;
//   }
//   .name {
//     text-align: center;
//     color: #fff32c;
//     font-family: $font-blender;
//     font-size: 1.2vw;
//   }
//   .contact {
//     display: flex;
//     gap: 2vw;
//     justify-content: center;
//     align-items: center;
//     z-index: 1;
//     svg {
//       width: 1.4vw;
//       height: 1.4vw;
//       cursor: pointer;
//     }
//   }
// }
// .cardInner {
//   display: grid;
//   grid-template-rows: auto 4vw 1vw 2vw;
//   gap: 0.4vw;
//   align-items: center;
//   justify-content: center;
//   width: 120%;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 10000;
//   padding: 1vw;
//   opacity: 0;
//   transition: opacity 0.6s ease;

//   .bgIMGInner {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     z-index: -1;
//   }

//   .borderIMGInner {
//     width: 13.5vw;
//     aspect-ratio: 244/351;
//     position: absolute;
//     object-fit: contain;
//     top: 0;
//     left: 0;
//   }

//   .contactIMGInner {
//     width: 7vw;
//     justify-self: center;
//     object-fit: cover;
//   }

//   .deptInner {
//     text-align: center;
//     color: #00ffff;
//     font-family: $font-blender;
//     font-size: 1.2vw;
//     z-index: 1000;
//   }
//   .nameInner {
//     text-align: center;
//     color: #fff32c;
//     font-family: $font-blender;
//     font-size: 1.2vw;
//   }
//   .contactInner {
//     display: flex;
//     gap: 2vw;
//     justify-content: center;
//     align-items: center;
//     z-index: 1;
//     svg {
//       width: 1.4vw;
//       height: 1.4vw;
//       cursor: pointer;
//     }
//   }
// }

// .card1 {
//   display: grid;
//   grid-template-rows: auto 4vw 1vw 2vw;
//   gap: 0.4vw;
//   align-items: center;
//   justify-content: center;
//   // background: center / contain no-repeat url("/public/img/contacts/cardBG.png");
//   width: 100%;
//   height: 100%;
//   padding: 1vw;
//   cursor: pointer;
//   transition: all 0.3s ease;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   transform-origin: top left;

//   .bgIMG1 {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     z-index: -1;
//   }

//   .borderIMG1 {
//     width: 10.5vw;
//     aspect-ratio: 244/351;
//     position: absolute;
//     object-fit: contain;
//     top: 0;
//     left: 0;
//   }

//   .contactIMG1 {
//     width: 7vw;
//     justify-self: center;
//     object-fit: cover;
//   }

//   .dept1 {
//     text-align: center;
//     color: #00ffff;
//     font-family: $font-blender;
//     font-size: 1.2vw;
//     z-index: 1000;
//   }
//   .name1 {
//     display: none;
//     text-align: center;
//     color: #fff32c;
//     font-family: $font-blender;
//     font-size: 1.2vw;
//   }
//   .contact1 {
//     display: none;
//     gap: 2vw;
//     justify-content: center;
//     align-items: center;
//     z-index: 1;
//     svg {
//       width: 1.4vw;
//       height: 1.4vw;
//       cursor: pointer;
//     }
//   }
// }
.card1 {
  display: grid;
  grid-template-rows: auto 4vw 1vw 2vw;
  gap: 0.4vw;
  align-items: center;
  justify-content: center;
  // background: center / contain no-repeat url("/public/img/contacts/cardBG.png");
  width: 100%;
  height: 100%;
  padding: 1vw;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .bgIMG1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .borderIMG1 {
    width: 10.5vw;
    aspect-ratio: 244/351;
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
  }

  .contactIMG1 {
    width: 7vw;
    justify-self: center;
    object-fit: cover;
  }

  .dept1 {
    text-align: center;
    color: #00ffff;
    font-family: $font-blender;
    font-size: 1.2vw;
    z-index: 1000;
    margin: 0 auto;
    width: 8vw;
  }
  .name1 {
    // display: none;
    text-align: center;
    color: #fff32c;
    font-family: $font-blender;
    font-size: 1.2vw;
    transform: translateY(-3vw) scale(0);
    transition: all 0.2s 0.05s ease;
  }
  .contact1 {
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(-4vw) scale(0);
    transition: all 0.2s 0.05s ease;
    svg {
      width: 1.4vw;
      height: 1.4vw;
      cursor: pointer;
    }
  }
}
// .card2 {
//   display: grid;
//   grid-template-rows: 1fr 1fr 1fr;
//   gap: 1vw;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 100;
//   padding: 3vw 1vw 1.5vw 1vw;
//   opacity: 0;
//   transition: all 0.3s ease;
//   transform-origin: top left;
//   rotate: y -180deg;

//   .bgIMG2 {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     z-index: -1;
//   }

//   .borderIMG2 {
//     width: 10.5vw;
//     aspect-ratio: 244/351;
//     position: absolute;
//     object-fit: contain;
//     top: 0;
//     left: 0;
//   }

//   .contactIMG2 {
//     width: 7vw;
//     justify-self: center;
//     object-fit: cover;
//   }

//   .dept2 {
//     text-align: center;
//     color: #00ffff;
//     font-family: $font-blender;
//     font-size: 1.2vw;
//     z-index: 1000;
//   }
//   .name2 {
//     text-align: center;
//     color: #fff32c;
//     font-family: $font-blender;
//     font-size: 1.2vw;
//   }
//   .contact2 {
//     display: flex;
//     gap: 2vw;
//     justify-content: center;
//     align-items: center;
//     z-index: 1;
//     svg {
//       width: 1.4vw;
//       height: 1.4vw;
//       cursor: pointer;
//     }
//   }
// }
@media screen and (max-width: 550px) {
  .card {
    grid-template-rows: auto 14vw 6vw 5vw;
    gap: 0.4vw;
    padding: 2vw;
    cursor: pointer;

    &:hover {
      .card1 {
        width: 100%;
        height: 100%;
        // opacity: 0;
        // rotate: y -180deg;
        .name1 {
          transform: translateY(0) scale(1);
        }
        .contact1 {
          transform: translateY(0) scale(1);
        }
        .borderIMG1 {
          width: 35vw;
        }
      }
    }
  }
  .card1 {
    grid-template-rows: auto 10vw 6vw 5vw;
    gap: 0.4vw;
    padding: 2vw;

    .borderIMG1 {
      width: 35vw;
    }

    .contactIMG1 {
      width: 17vw;
    }

    .dept1 {
      font-size: 3.6vw;
      width: 95%;
    }
    .name1 {
      font-size: 3.6vw;
      transform: translateY(0) scale(1);
    }
    .contact1 {
      gap: 2vw;
      transform: translateY(0) scale(1);
      svg {
        width: 3.6vw;
        height: 3.6vw;
      }
    }
  }
}
