.myHtmlWrapper{
    position:fixed!important;
    // height:"50px"!important;
    overflow:"hidden";
    pointer-events: none;
    overscroll-behavior: contain;
    z-index: 2!important;
    background: transparent!important;
}