@import '../../../../assets/global.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    color: $cyber-yellow;
    padding: 2rem;
    gap: 1.5rem;
    
    .title {
        font-family: $font-cyberpunks;
        font-size: 4rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-bottom: 0.5rem;
        text-align: center;
        z-index: 1;
    }

    .subtitle {
        font-family: $font-blender;
        font-weight: $weight-blender-bold;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #fff; // Assuming white based on the image description
        margin-bottom: 2rem;
                z-index: 1;

    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        max-width: 500px;

        .inputGroup {
            position: relative;
            width: 100%;

            .input {
                width: 100%;
                background: $dark-bg;
                border: none;
                outline: none;
                color: $cyber-yellow;
                font-family: $font-blender;
                font-weight: $weight-blender-bold;
                font-size: 1.25rem;
                padding: 0.2rem;
                text-transform: uppercase;
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                &::placeholder {
                    color: $cyber-yellow;
                    // opacity: 0.8;
                }

                &:focus {
                    background-color: $cyber-yellow;
                    color: $dark-bg;

                    &::placeholder {
                        color: $dark-bg;
                    }
                }

                &.select {
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    // background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ffe500%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
                    background-repeat: no-repeat;
                    background-position: right 1rem center;
                    // background-size: 0.8rem
                }
            }
        }
    }
}
