@use "../../../assets/global.scss" as *;
@use "sass:color";

body {
    background-color: black;
}

.navbarContainer {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    perspective: 900px;

    .navbar {
        $navbar-accent: #4cf0f8;

        position: relative;
        transform-origin: 0 0;
        transform: rotateY(20deg);
        border: 2px solid $navbar-accent;
        padding: 0.6rem 1rem;
        width: 15rem;
        background-color: color.change(darken($navbar-accent, 50%), $alpha: 15%, $blackness: 60%);
        backdrop-filter: blur(9px);
        box-shadow: inset 0 0 1.5rem color.change($navbar-accent, $alpha: 50%);
        margin: 0 3rem;

        .titleLogo {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .logo {
                max-width: 100%;
            }
        }

        .navlinks {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 0.5rem;
            border-radius: 0.5rem;

            a {
                text-decoration: none;
                cursor: pointer;
                color: darken($navbar-accent, 10%);
                font-weight: bold;
                transition: color 0.2s ease, gap 0.2s ease, filter 0.2s ease;
                display: flex;
                gap: 0.06rem;
                padding: 0.25rem 0.3rem;
                text-transform: capitalize;

                &:hover {
                    color: $cyber-yellow;
                    gap: 0.15rem;
                    filter: drop-shadow(0 0 3px color.change($cyber-yellow, $alpha: 50%));
                }
            }
        }

        .socialLinks {
            display: flex;
            gap: 1rem;
            justify-content: center;
            margin-top: 1.5rem;
            margin-bottom: 0.6rem;

            .socialLinkContainer {
                background-color: $navbar-accent;
                padding: 0.1rem;
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

                .socialLink {
                    color: darken($navbar-accent, 10%);
                    font-size: 1.5rem;
                    transition: color 0.2s ease, filter 0.2s ease, background-color 0.2s ease;
                    padding: 0.4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: color-mix(in srgb, darken($navbar-accent, 20%) 20%, darken($cyber-yellow, 30%) 80%);
                    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

                    &:hover {
                        background-color: color-mix(in srgb, darken($navbar-accent, 10%) 20%, darken($cyber-yellow, 20%) 80%);
                        color: $cyber-yellow;
                        filter: drop-shadow(0 0 3px color.change($cyber-yellow, $alpha: 50%));
                    }
                }
            }
        }
    }
}